extends layout
block content

        .container
            .featured-blocks
                .row-fluid
                    .span5
                        div
                            .block
                                .block-title
                                    h1 #{ movie.name}
                                    br
                                    br
                                    img.img-rounded(src=imagePath, alt='')
                                    br
                                .block-content
                                    p
                                        h5 #{ overallRating } #{ individualRating }
                                        br
                                        | #{ movie.details}
                                        br
                                        br
                                        br
                                        br


                        .border

                    .span5
                        video#my-player.video-js(controls='', preload='auto', poster= '', data-setup='{}', width='650', height='400')
                            source(src= videoPath, type='video/mp4')
                            source(src= videoPath, type='video/webm')
                            source(src= videoPath, type='video/ogg')
                            p.vjs-no-js
                                | To view this video please enable JavaScript, and consider upgrading to a
                                | web browser that
                                a(href='http://videojs.com/html5-video-support/', target='_blank')
                                    | supports HTML5 video
                .block
                    if (user && user.username === 'admin')
                        .span1
                            form(role='form', action="/editmoviedetails/" + movie._id ,method="get", style='max-width: 400px;')
                                <input type="hidden" name="_method" value="get"/>
                                button.btn.btn-default(type='submit') Edit
                        .span1
                            form(role='form', action="/moviedetails/" + movie._id + "?_method=DELETE",method="post", style='max-width: 400px;')
                                <input type="hidden" name="_method" value="delete"/>
                                button.btn.btn-default(type='submit') Delete
                    if (user)
                        .span6
                            .block
                                .span3(align='bottom')
                                    span.text-center Enter your rating on a scale of one to five
                                .span2
                                    form(role='form', action="/moviedetails/ratemovie/" + movie._id ,method="post", style='max-width: 400px;')
                                        .form-group
                                            input.form-control(type='text', name="rating", placeholder='Rate', style='max-width: 50px;')
                                            &nbsp;
                                            &nbsp;
                                            button.btn.btn-default(type='submit') Rate


